.font {
    font-size: xx-large;
}

.fontf {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bottom { 
    margin-bottom: 50px;
}